* {
  font-weight: bold;
}

h1 {
  font-family: 'PT Serif', serif;
  font-size: 50px;
}
p{
  font-size: 40px;
}

.top-part {
  padding-bottom: 20px;
}

.partcolor {
  color: #F47340;
}

.flexible-container {
  display: flex;
}

.half-width {
  width: 50%;
  padding-left: 8%;
}
.one-third-width{
  width: 30%;
    padding-left: 3%;
}

.half-width img {
  width: 100%;
}

.link-button {
  text-decoration: none;
  background-image: linear-gradient(#F47340, #EA5C2B);
  padding: 10px 40px;
  border-radius: 5px;
  font-weight: 1000px;
  color: white;
}
.second-part{
  margin-bottom: 80px;
}
.mission-header {
  font-family: 'PT Serif', serif;
  font-size: 50px;
  text-align: center;
  padding-bottom: 100px;
}

img {
  width: 50%;
  margin-right: 50px;
}
.mission-item{
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: 10px 10px 5px #CCD1E4;
  border-radius: 30px;
}

.third-part{
  margin-left: 100px;
  background-image: url(images/shapes/sh10.png);
  background-repeat: no-repeat;
background-position: left;
}
