/* Global  Css */

* {
  font-weight: bold;
}
a{
  font-size: 30px;
}
.partcolor {
  color: #F47340;
}

h1 {
  font-family: 'PT Serif', serif;
  font-size: 50px;
}
.mission-header {
  font-family: 'PT Serif', serif;
  font-size: 50px;
  text-align: center;
  padding-bottom: 100px;
}
/* 1st Part Css */
.bor{
  border-left-style: solid ;
   border-color: blue;
   padding-left: 20px;
}
/* Second Part Css */
#mission-image{
  background-color: #93FFD8;
}
#vission-image{
  background-color: #8267BE;
}
#goal-image{
  background-color: #DFD3C3;
}

p {
  font-size: 40px;
}

.top-part {
  padding-bottom: 20px;
}



.flexible-container {
  display: flex;
}

.half-width {
  width: 50%;
  padding-left: 8%;
}

.one-third-width {
  width: 30%;
  padding-left: 3%;
}

.half-width img {
  width: 100%;
}

.link-button {
  text-decoration: none;
  background-image: linear-gradient(#F47340, #EA5C2B);
  padding: 10px 40px;
  border-radius: 5px;
  font-weight: 100px;
  color: white;
}

.second-part {
  margin-bottom: 80px;
}



img {
  width: 50%;
  margin-right: 50px;
}

.mission-item {
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: 10px 10px 5px #CCD1E4;
  border-radius: 30px;
}

.third-part {
  margin-left: 100px;
  background-image: url(images/shapes/sh10.png);
  background-repeat: no-repeat;
  background-position: left;

}
/* Fourth Part Css */
.fourth-part {
  margin-top: 100px;
  background-image: url(images/shapes/sh10.png);
  background-repeat: no-repeat;
  background-position: right;


}
#assis-img{
  background-color: #7CD1B8;
}
#assignment-img{
background-color: #F9C5D5;
}
#mcq-img{
background-color: #5584AC;
}
/* Fifth Part Css */
.fifth-part {
  margin-top: 101px;
}

/* Footer Part Css */
.lastpart{
  text-align: center;
  background-color: #548CFF;

}
