h1{
  font-family: 'PT Serif', serif;
  font-size: 50px;
}
.partcolor{
  color: #F47340;
}
section{
  display: flex;
}
.half-width{
  width: 50%;
  padding-left: 8%;
}
.half-width img{
  width:80%;
}
